.screen__header {
	display: flex;
	justify-content: space-between;
	padding: var(--horizontal-space);
	align-items: center;
}

.screen__header__title {
	font-size: 28px;
	font-weight: 600;
}

.screen__header__icons span {
	margin-left: 25px;
}
